nav {
	background-color: grey;
}

button {
	background-color: #99b0a1; 
}

a:hover {
	text-decoration: none;
}

#TopBtn {
	position: absolute;
	right: 0px;
	bottom: 0px;

}

#navbarc {
	background-color: #e6f5dc;
	text-align: center;
}

.menu-text {
	padding: 7px;
	margin-top:20px;
	height: 1600px;
}

.col-md-4 {
	border-style: solid;
	border-color: white;
  	border-width: 7px;
	background-color: grey;
	float: left;
}